h1 {
    color:#333333;
}
body{
    background-image: url(bg.jpeg);
}
button:hover{
    background-color: darkgrey;
    transform: scale(1.05);
}
wrap{
    display: flex;
    align-items: center;
    gap: 15px;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
nama{
    font-size: 18px;
    font-family: sans-serif;
    color: grey;
}
img {
    height: 400;
    weight: 400px;
    border-radius: 50%;
}
.foto-tengah {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.foto-tengah {
    display: block;
    width: 400px;
    margin: 0 auto;
}
audio{
    width: 70%;
    outline: none;
    opacity: .5;
}
.judul-lagu,
.penyanyi {
    font-family: arial;
    font-weight: bold;
    margin-top: 15px;
    color :lightblue(255, 255, 255);
    font-size: 20px;
}
.penyanyi{
    font-weight: normal;
    margin-top: 15px;
    color: rgba(238, 236, 236, 0.33);
    font-size: 16px;
}
body {
    background-image: url(cream.jpg);
    }
    .box {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        box-shadow: rgba(84, 85, 85, 0.1)6px 2px 16px 0px,
        rgba(84, 85, 85, 0.1)-6px -2px 16px 0px;
        width: 300px;
        position:relative;
        margin-top: 35px;
        height: 150px;
        z-index: 100;
        flex-direction: column;
        display: flex;
        align-items: center;
        border-radius: 65px;
    }
    @media screen and (max-width: 1150px) {
        .box {
            transform: scale(9);
            backdrop-filter: blur(20px);
        }
    }
    @media screen and(max-width: 1000px){
        body {
            background-position: -70px 0px;
        }
    }
    @media screen and (max-width: 900px){
        .box {
            transfrom: scale(8);
        }
    }
    @media screen and(max-width: 850px){
        body {
            background-position: -70px 0px;
        }
    }

@media screen and (max-width: 750px){
        .box {
            transfrom: scale(7);
        }
        body {
            background-position: -100px 0px;
        }
    }
@media screen and(max-width: 750px){
        body {
            background-position: -150px 0px;
        }
    }
  @media screen and(max-width: 600px){
        body {
            background-position: -350px 0px;
        }
        .box {
            background-color: rgba(255, 255, 255, 0.1);
        }
    } 
    @media screen and (max-width: 360px) {
     .box {
            position: absolute;
        }
    }
    @media screen and (max-width: 330px){
        .box {
            transform: scale(6);
        }
    }
     @media screen and (max-width: 275px){
        .box {
            transform: scale(5);
        }
    }
     @media screen and (max-width: 275px){
        .box {
            transform: scale(4);
        }
    }
     @media screen and (max-width: 230px){
        .box {
            transform: scale(3);
        }
    }
.navigasi a:hover {
    background-color: hotpink;
    color: white;
  }
